/*  CodeMirror */
.CodeMirror {
	font-family: $monospace;
	background: none;
	line-height: 1.5em;
	padding: 0;
	margin: 0;

	div.CodeMirror-cursor {
		pointer-events: none; /* TODO: this probably doesn't work in IE */
	}
}

.CodeMirror-selected {
	background: rgba(170, 170, 170, 0.55);
}

.CodeMirror-focused .CodeMirror-selected {
	background: rgba(140, 150, 255, 0.8);
}
