$font-size: 16px;
$sans-serif: 'Cabin', sans-serif;
$monospace: 'Source Code Pro', monospace;
$icon-font: "Glyphicons";

$pad: 0.75rem;
$grey: #808393; /* #80808F */
$theme-color: #66CCFF; /* #66CCFF */
$color: darken($grey, 47%);
$white: lighten($grey, 49%);
$hover-color: $white;
$error-color: red;
$default-transition-duration: 0.3s;
$cta-transition-duration: 1.5s;
$placeholder-color: darken($grey, 20%);

$group-color: #00EE00;
$set-color: #FFF600;

$top-bg: darken($grey, 45%);
$top-color: $grey;
$top-height-target: 3rem;
$top-pad-top: ($top-height-target - 1.5rem)/2;
$top-height: $top-height-target - $pad - $top-pad-top;
$top-h-pad: $top-height + $pad + $top-pad-top;

$title-height: 1.125rem;
$title-bg: lighten($grey, 22%);
$title-h-pad: $title-height + $pad*2;

$editor-bg: lighten($grey, 42%);
$editor-height: 2.0rem;
$editor-h-pad: $editor-height + $pad*2;
$editor-1l-pad-bottom: 0rem;
$editor-1l-height: $editor-height + $pad - $editor-1l-pad-bottom;

$tools-border: 1px;
$editor-toolsres-bg: darken($editor-bg, 3%);

$lib-bg: darken($grey, 34%);
$lib-title-bg: darken($grey, 38%);
$lib-color: lighten($grey, 8%);
$lib-width: 22rem;
$lib-content-height: 18rem;
$lib-content-h-pad: $lib-content-height + $pad * 3;
$search-height: 2.5rem; // for some reason, input fields seem to count this inclusive of padding.

$z-index-bottom: 1;
$z-index-middle: 3;
$z-index-tip: 500;
$z-index-top: 999999;
