.video {
	position: absolute;
	z-index: $z-index-top + 100;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(30,30,30,.95);
	cursor: pointer;

	iframe {
		position: absolute;
		left: 50%;
		top: 50%;
		background: black;
		border: 12px solid black;
		@include vendor-prefix(transform, translate(-50%, -50%));
	}

	&:before {
		content: "x";
		color: $white;
		position: absolute;
		top: $pad;
		right: $pad;
	}
}

.not-supported {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: $top-bg;
	color: $white;
	z-index: $z-index-top;

	.content {
		position: absolute;
		left: 50%;
		top: 50%;
		@include vendor-prefix(transform, translate(-50%, -50%));
	}

	font-size: 1.75rem;
	@include bpPixelDensity(1.5) {
		font-size: 2.5rem;
	}
}

.not-supported-mobile {
	@extend .not-supported;
	background: rgba($top-bg,0.95);
}

.beta-banner {
	color: #ff0000;
	font-weight: bold;
	font-size: 0.70rem;
	padding-left: 0.2rem;
}
