.tag-list-container {
	position: absolute;
	z-index: $z-index-top;
	width: 12rem;
	height: 12rem;

	.tag-list {
		@extend .list;

		position: relative;
		top: 0;
		right: 0;
		left: 0;
		max-height: 12rem;

		opacity: .99;
		background: $lib-bg;
		border: 1px solid lighten($lib-bg, 25%);
	}
}
