.tag-list-container {
	position: absolute;
	z-index: $z-index-top;
	width: 12rem;
	height: 12rem;

	.tag-list {
		@extend .list;

		position: relative!important;
		top: 0!important;
		right: 0!important;
		left: 0!important;
		max-height: 12rem!important;

		opacity: .99;
		background: $lib-bg;
		border: 1px solid lighten($lib-bg, 25%);
        overflow-y: auto;
	}
}
