body, html {
	height: 100%;
	width: 100%;
	min-width: 60rem;
	min-height: 32rem;
	font-size: $font-size;
	background: $top-bg;
}

hr {
	margin: 0;
	padding: 0;
	margin-top: 0.375em;
	margin-bottom: 0.375em;
	border: 0;
}

*:focus {
	outline: none;
}

body {
	font-family: $sans-serif;
	margin: 0;
	color: $color;
    overflow: hidden;
}

pre, code {
	white-space: pre-wrap;       /* css-3 */
	white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
	white-space: -pre-wrap;      /* Opera 4-6 */
	white-space: -o-pre-wrap;    /* Opera 7 */
	word-wrap: break-word;       /* Internet Explorer 5.5+ */
	margin: 0;
}

code {
	font-family: $monospace;
}

pre {
	font-family: $sans-serif;
}

input, textarea {
	padding: 0.375em;
	@include calc("width", "100% - 0.375em*2");
	margin: 0;
	margin-top: 0.25em;
	border: none;
	font-size: 1em;
	background: $white;
	color: $color;
}

a {
	@extend %user-select-none;
	text-decoration: none;
	color: $theme-color;
	cursor: pointer;

	&:hover {
		color: $hover-color;
	}
}
