.native-js {
	transition: all 0.25s ease-in-out;
	opacity: 0;
	position: absolute;
	top: 0;
  }

  .native-js[data-state=visible] {
	position: static;
	opacity: 1;
	+ .noad {
		display: none;
	}
  }
  
  .native-img {
	margin-right: $pad*0.75;
	max-height: 40px;
	max-width: 27%;
	border-radius: 3px;
  }
  
  .native-flex {
	display: flex;
	padding: $pad*0.75;
	text-decoration: none;
  
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
  }
  
  .native-main {
	display: flex;
  
	flex-flow: row nowrap;
	align-items: center;
  }
  
  .native-details {
	display: flex;
	font-size: 12px;
	position: relative;

	max-height: 5em;
  
	flex-flow: column;
  }
  
  .native-company {
	margin-bottom: 4px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 11px;
  }
  
  .native-desc {
	letter-spacing: 1px;
	font-weight: 300;
	line-height: 1.3em;
	text-overflow: ellipsis;
	max-height: 5em;
	overflow: hidden;
	position: relative;
  }
  
  

/* Carbon Ads */

#carbonads {
	display: block;
	overflow: hidden;
	background-color: $black;
	font-size: 13px;
	line-height: 1.5;
  }
  
  #carbonads a {
	color: inherit;
	text-decoration: none;
  }
  
  #carbonads a:hover {
	color: inherit;
  }
  
  #carbonads span {
	position: relative;
	display: block;
	overflow: hidden;
  }
  
  .carbon-img {
	display: block;
	float: left;
	margin: 0;
	line-height: 1;
  }
  
  .carbon-img img {
	display: block;
  }
  
  .carbon-text {
	display: block;
	float: left;
	padding: 8px 1em;
	max-width: calc(100% - 130px - 2em);
	text-align: left;
	letter-spacing: .5px;
  }
  
  .carbon-poweredby {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 130px;
	display: block;
	padding: 8px 13px;
	border-top: solid 1px $darkest;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 400;
	font-size: 9px;
	line-height: 1;
  }
  
  