.community {
	
	> header {
		.icon {
			@extend %link;
			color: $dark;
	
			&.selected:not(:hover) {
				color: $theme-color;
			}
		}

		background: $black;
		padding: $pad;
		margin: -$pad;
		margin-bottom: $pad*0.5;
		display: flex;
		justify-content: space-between;

		> .name {
			color: $white;
			font-weight: bold;
			overflow: hidden;
			display: block;
			white-space: nowrap;
			text-overflow: ellipsis;
		}
		
		> div {
			display: flex;

			.favorites {
				margin: 0 $pad;
			}
		}
	}

	.row.rate {
		.icon.thumbdown, .icon.thumbup {
			cursor: pointer;

			&:hover, &.selected:hover {
				color: $white;
			}

			&.selected {
				color: $theme-color;
			}
		}

		.icon.thumbdown {
			transform: translate(0,0.125em) scale(1,-1);
		}
	}
	
	>.author {
		margin-top: 0.125em;
		color: $mid;
	}

	.actions.list {
		background: 0;

		margin: -0.5*$pad -1*$pad 0 -1*$pad;

	}

	>.desc {
		margin-top: $pad;
	}
}