#share_main, #share_community {
	margin: -$pad;

	.list {
		background: transparent;
		border: none;
	}

	.inputs {
		input, textarea {
			color: $white;
			margin: 2px 0;
		}
	}

	.button {
		padding-left: calc($pad*2);
		padding-right: cacl($pad*2);
	}

	.buttons.wait {
		.button {
			opacity: $disabled-opacity;
			pointer-events: none;
		}
	}

	.status {
		margin-left: calc($pad/2);
	}
}

#share_main {
	.signin.row {
		.signout {
			display: none;
		}

		&.authenticated {
			display: none;
		}
	}

	.row:not(.active) .icon.check {
		display: none;
	}

	.delete.row:hover {
		background: rgba($error-color, 0.6%);
	}

	> .info {
		padding: $pad;
		margin-bottom: calc($pad * 0.5);
		border-bottom: solid 1px $darker;

		> .row {
			padding: 0 0 calc($pad/2) 0;
			border: 0;
			color: $light;
			align-items: flex-start;

			svg.icon {
				color: currentColor;
				margin: 0;
			}
		}
	}

	> .save {
		flex-direction: column;
		align-items: flex-start;
		padding: calc($pad*1.25) calc($pad*0.5);
		margin-bottom: calc($pad*0.5);
		background: $darker;
		border: 0;
		box-shadow: -3px 3px 6px $light-shadow;

		.message {
			color: $white;
		}

		.buttons {
			padding: calc($pad*0.5) 0 0 0;
			border: 0;
			color: $white;

			.button {
				margin: 0 calc($pad*0.5) 0 0;
			}
		}
	}
}



#share_community {
	margin: 0 calc($pad/2);

	> .buttons {
		justify-content: flex-end;
		color: $white;
		border: none;

	}

	.inputs, .buttons {
		margin: $pad 0;
	}
}
