#-----------------------------
# SYSTEM
#-----------------------------
.DS_Store

#-----------------------------
# INVALID FILES
# (for cross OS compatibility)
#-----------------------------
*[\<\>\:\"\/\\\|\?\*]*

#-----------------------------
# WORKSPACE
#-----------------------------
.idea/
*.sublime-project
*.sublime-workspace

#-----------------------------
# BUILD/DEBUGGING
#-----------------------------
node_modules/
.sass-cache/
build/

#-----------------------------
# PROJECT SPECIFIC
#-----------------------------
_db.php
regexr.css
*.map
scripts.min.js
