@import "colors";

// base colors:
$theme-color: desaturate(darken($theme-color, 20), 30);
$base-color: mix(#808080, adjust-hue($theme-color, 20), 90);

// core colors:
$black: darken($base-color, 44%);
$darkest: mix($black, $base-color, 80%);
$darker: mix($black, $base-color, 64%);
$dark: mix($black, $base-color, 35%);

$mid: $base-color;

$white: lighten($base-color, 45%);
$lightest: mix($white, $base-color, 92%);
$lighter: mix($white, $base-color, 78%);
$light: mix($white, $base-color, 50%);

// doc colors:
$doc-black: $white;
$doc-darkest: mix($doc-black, $base-color, 90%);
$doc-darker: mix($doc-black, $base-color, 72%);
$doc-dark: mix($doc-black, $base-color, 50%);

$doc-mid: $base-color;

$doc-white: $darkest;
$doc-lightest: mix($doc-white, $base-color, 92%);
$doc-lighter: mix($doc-white, $base-color, 78%);
$doc-light: mix($doc-white, $base-color, 50%);

// control colors:
$title-bg: $doc-light;
$tooltip-bg: rgba($doc-black,0.9);
$selected-stroke-color: rgba($doc-black, 0.4);
$match-color: rgba($theme-color, 0.6);
$dark-shadow: rgba(0,0,0, 0.35);
$light-shadow: rgba(0,0,0, 0.15);
$strong-shadow: rgba(0,0,0, 0.55);

// notice colors:

// syntax coloring:
// inherited

// invisible char color:
// inherited