@import "colors";

// base colors:
$theme-color: desaturate(darken($theme-color, 18), 20);
$base-color: mix(#808080, darken($theme-color, 20), 90);

// core colors:
// inherited

// doc colors:
$doc-black: $lighter;
$doc-darkest: mix($doc-black, $base-color, 90%);
$doc-darker: mix($doc-black, $base-color, 72%);
$doc-dark: mix($doc-black, $base-color, 50%);

$doc-mid: $mid;

$doc-white: mix($black, $darkest, 30%);
$doc-lightest: mix($doc-white, $base-color, 92%);
$doc-lighter: mix($doc-white, $base-color, 80%);
$doc-light: mix($doc-white, $base-color, 60%);

// control colors:
$title-bg: $doc-light;
$tooltip-bg: rgba($doc-black, 0.85);
$selected-stroke-color: rgba($doc-black, 0.4);
$match-color: rgba($theme-color, 0.6);

$details-group-alpha: 0.33;

// shadows inherited

// notice colors:

// syntax coloring:
// inherited

// invisible char color:
// inherited
