.cursor {
	&.pointer {
		cursor: pointer;
	}
	&.default {
		cursor: default;
	}
}

.lib {
	position: relative;
	@include calc("height", "100% - #{$top-h-pad}");
	top: 0;

	width: $lib-width;
	background: $lib-bg;
	float: left;
	color: $lib-color;

	.title, .content {
		background: $lib-title-bg;
		@include calc("width", "100% - #{$pad*2}");
	}

	.title span.button {
		font-weight: bold;
		color: $white;

		&.noicon {
			cursor: default;
			top: -0.1rem;
		}
	}

	.content {
		position: absolute;
		bottom: 0;
		padding: $pad *1.5;
		@include calc("width", "#{$lib-width - $pad * 3} - 1px");
		height: $lib-content-height;
		line-height: 1.5em;
		overflow-y: auto;
		
		&.maximized {
			height: auto;
			top: $title-h-pad+0.125rem;
		}

		h1 {
			font-size: 1em;
			margin:0;
			margin-top: 1em;
			color: $white;
		}

		em {
			font-style: normal;
			background: $theme-color;
			margin-left: 1px;
			color: black;
		}

		hr {
			border-bottom: solid 1px lighten($lib-bg, 13%);
		}

		p {
			margin-top: 1em;
			margin-bottom: 1em;
		}

		ul {
			margin: 0;
			padding-left: 0;
			list-style-position: inside;
		}

		b {
			color: lighten($lib-color, 15%);
		}

		code {
			color: lighten($lib-color, 25%);
		}

		.load.icon {
			color: darken($lib-color, 22%);
			float: right;
			cursor: pointer;

			&:after {
				content: "\e212";
			}

			&:hover {
				color: $hover-color;
			}
		}
	}

	.button {
		color: $lib-color;
	}
}


.icon-star {
  cursor: pointer;

  &:before {
	font-family: $icon-font;
	-webkit-font-smoothing: antialiased;
	font-size: .9rem;
	padding: .1em;
	content: "\E050";
  }

  &:hover {
	color: $white;
  }

  &.small {
	&:before {
	  font-size: .72rem;
	}
  }

  &.empty {
	&:before {
	  content: "\E049";
	}
  }

  &.hover {
    color: $white;
  }
}

table.cheatsheet {
	width:100%;
	position: relative;
	border-spacing: 0;
	
	th {
		@extend %user-select-none;
		cursor: pointer;
		background: rgba(255,255,255,0.06);
		text-align: left;
		padding: 0.125rem 0 0.125rem 0.375rem;
		
		&:hover {
			color:$white;
		}
	}
	
	td {
		line-height: 1em;
		padding: 1px 0 4px 0;
		border-bottom: 1px solid rgba(255,255,255,0.04);
	}
	
	td:first-child {
		font-family: $monospace;
		color: $white;
		padding-right: 0.25em;
		font-size: 0.9375em;
		white-space: pre;
	}
}